<nav class="navbar navbar-expand-lg sticky-top" style="background-color: var(--bs-content-bg); border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);">
  <div class="container-fluid">
    <div class="d-md-none" role="group">
      <button type="button" data-bs-toggle="offcanvas" data-bs-target="#_ham_sidebar" aria-controls="_ham_sidebar" aria-description="Open sidebar" class="btn btn-secondary btn-square">
        <i class="bi bi-list-nested" aria-hidden="true"></i>
      </button>
    </div>
    <a class="navbar-brand" href="/">
      {% if site.ham.site_icon != null %}
        <img src="{{ site.ham.site_icon }}" alt="{{ site.title }}" width="24" height="24" class="d-inline-block align-text-top">
      {% endif %}{{ site.title }}
    </a>
    <div class="d-md-none" role="group">
      <button type="button" data-bs-toggle="collapse" data-bs-target="#_ham_settings" aria-controls="_ham_settings" aria-description="Open navigation menu" class="btn btn-secondary btn-square">
        <i class="bi bi-three-dots" aria-hidden="true"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="_ham_settings">
      {% if site.tagline != null %}
        <span>{{ site.tagline }}</span>
      {% endif %}
      {% include navbar.html %}
    </div>
  </div>
</nav>
