<nav class="navbar">
  <div class="navbar-content">
    <button class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
      <i class="bi bi-list ham-menu-button-icon-open" aria-hidden="true"></i>
      <i class="bi bi-x-lg ham-menu-button-icon-close" aria-hidden="true"></i>
      <span class="sr-only">Toggle sidebar</span>
    </button>
  </div>
  <a href="/" class="navbar-brand">
    {% if site.ham.site_icon != null %}
      <img src="{{ site.ham.site_icon }}" alt="{{ site.title }}">
    {% endif %}{{ site.title }}
  </a>
  {% if site.tagline != null %}
    <span class="navbar-text d-none d-sm-block">{{ site.tagline }}</span> <!-- text-monospace = font-family shifted to monospace -->
  {% endif %}
  <div class="ml-auto">
    <button onClick="halfmoon.toggleDarkMode()" class="btn btn-action bg-dark-lm bg-white-dm text-white-lm text-dark-dm">
      <i class="bi bi-moon-stars" aria-hidden="true"></i>
      <span class="sr-only">Toggle Dark Mode</span>
    </button>
    <a href="#search" class="btn btn-action btn-primary" onClick="document.getElementById('search-input').focus()">
      <i class="bi bi-search" aria-hidden="true"></i>
      <span class="sr-only">Search</span>
    </a>
  </div>
</nav>