<aside class="sidebar">
  <div class="sidebar-menu">
    <h5 id="on-this-page" class="sidebar-title">On This Page</h5>
    <div class="sidebar-divider"></div>
    <div id="_ham_on_this_page_ul"></div>
    <br>
    {% if site.ham.contributing != null %}
      <h5 id="contribute" class="sidebar-title">Contribute to This Page</h5>
      <div class="sidebar-divider"></div>
      {% if site.ham.contributing.discuss.type != null %}
        <a href="{% if site.ham.contributing.discuss.type == 'url' %}{{ site.ham.contributing.discuss.url }}{% else %}#discuss{% endif %}" class="sidebar-link sidebar-link-with-icon">
          <span class="sidebar-icon">
            <i class="bi bi-chat-dots" aria-hidden="true"></i>
          </span>
          Discuss
        </a>
      {% endif %}
      {% if site.ham.contributing.issue_url != null %}
        <a href="{{ site.ham.contributing.issue_url }}" class="sidebar-link sidebar-link-with-icon">
          <span class="sidebar-icon">
            <i class="bi bi-bug" aria-hidden="true"></i>
          </span>
          Report New Issue
        </a>
      {% endif %}
      {% if site.ham.contributing.view_source_base_url != null %}
        <a href="{{ site.ham.contributing.view_source_base_url }}{{ page.path }}" class="sidebar-link sidebar-link-with-icon">
          <span class="sidebar-icon">
            <i class="bi bi-code-slash" aria-hidden="true"></i>
          </span>
          View Source
        </a>
      {% endif %}
    <br>
    {% endif %}
    {% if site.data.index %}
      {% for section in site.data.index %}
        <h5 class="sidebar-title">
          {{ section.name }}
        </h5>
        <div class="sidebar-divider"></div>
        {% for child in section.children %}
          <a href="{{ child.url }}" class="sidebar-link">
            <span class="name">{{ child.name }}</span>
          </a>
        {% endfor %}
        <br>
      {% endfor %}
    {% endif %}
  </div>
</aside>
