@import url('custom.css');

/* Lowers the font size for H3, H4, H5, H6 */
.article-wrapper h3, .content-wrapper .h3 {
  font-size: 1.75rem;
}
.article-wrapper h4, .content-wrapper .h4 {
  font-size: 1.5rem;
}
.article-wrapper h5, .content-wrapper .h5 {
  font-size: 1.25rem;
}
.article-wrapper h6, .content-wrapper .h6 {
  font-size: 1rem;
}

/* Removes list styling for .task-list */
.task-list {
  list-style-type: none;
}
.task-list-item-checkbox {
  margin-right: 0.5rem;
}

/* Removes the unnecessary bottom padding on alerts */
.alert address, .alert dl, .alert ol, .alert p, .alert ul {
  margin-bottom: 0.5rem;
}

.alert > :last-child {
  margin-bottom: 0;
}

/* Make syntax highlighter */
.content-wrapper pre {
  word-wrap: normal;
  padding: 20px;
  border-radius: 4px;
  white-space: pre;
  transform: translate3d(0, 0, 0);
  overflow-x:auto;
  -webkit-overflow-scrolling: touch;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;
  -ms-tab-size: 4;
  tab-size: 4;
}
.content-wrapper pre::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}
.content-wrapper pre::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.content-wrapper .highlighter-rouge {
  border-radius: var(--card-border-radius);
}

article img {
  max-width: 100%;
}